In [1]:
import pandas as pd
booking = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')

In [2]:
booking.shape

(119390, 21)

In [3]:
booking.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [4]:
booking[0:7]

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [5]:
# Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

booking.columns = booking.columns.str.replace(' ', '_')
booking.columns = booking.columns.str.lower()

In [6]:
# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
booking[['country', 'is_canceled']] \
    .query('is_canceled == 0') \
    .groupby('country', as_index=False) \
    .count() \
    .sort_values('is_canceled', ascending=False) \
    .rename(columns={'is_canceled': 'Success'}) \
    .head(5)

    country  Success
125     PRT    21071
57      GBR     9676
54      FRA     8481
50      ESP     6391
42      DEU     6069

In [29]:
booking.query('is_canceled == 0') \
    .country \
    .value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [38]:
# На сколько ночей в среднем бронируют отели разных типов? 
booking[['hotel', 'stays_total_nights']] \
    .groupby('hotel', as_index=False) \
    .mean() \
    .round(2) \
    .sort_values('hotel')

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [40]:
# На сколько ночей в среднем бронируют отели разных типов? 
# используя agg
booking \
    .groupby('hotel', as_index=False) \
    .agg({'stays_total_nights': 'mean'}) \
    .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [8]:
# На сколько ночей в среднем бронируют отели разных типов?
booking.groupby('hotel', as_index=False)['stays_total_nights'] \
    .mean() \
    .sort_values('hotel')

          hotel  stays_total_nights
0    City Hotel            2.978142
1  Resort Hotel            4.318547

In [9]:
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга. 
# Сколько подобных наблюдений встретилось в датасете?



# without query
# booking[booking.reserved_room_type != booking.assigned_room_type].shape[0]

booking.query('reserved_room_type != assigned_room_type').shape[0]

14917

In [10]:
# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
# – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel 
# отменялись чаще всего в каждый из периодов.

booking.query('arrival_date_year == 2016').arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [11]:
# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
# – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel 
# отменялись чаще всего в каждый из периодов.

booking.query('arrival_date_year == 2017').arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [12]:
# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
# – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel 
# отменялись чаще всего в каждый из периодов.

booking.groupby('arrival_date_year') \
        .arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             5114
                   October               4957
                   August                3889
                   December              2920
                   July                  2776
                   November              2340
2016               October               6203
                   May                   5478
                   April                 5428
                   September             5394
                   June                  5292
                   August                5063
                   March                 4824
                   July                  4572
                   November              4454
                   February              3891
                   December              3860
                   January               2248
2017               May                   6313
                   April                 5661
                   June                  5647
                   July                  5313
                   March                 4970
                   August                4925
                   February              4177
                   January               3681
Name: arrival_date_month, dtype: int64

In [13]:
# Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel
# отменялись чаще всего в каждый из периодов.
booking \
    .query('is_canceled == 1 and hotel == "City Hotel"') \
    .groupby('arrival_date_year') \
    .arrival_date_month \
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [14]:
# Посмотрите на числовые характеристики трёх переменных: adults, children и babies.
# Какая из них имеет наибольшее среднее значение?

booking \
    .agg({'adults': 'mean', 'children': 'mean', 'babies': 'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [15]:
# Создайте колонку total_kids, объединив children и babies.
# Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

booking['total_kids'] = booking['children'] + booking['babies']

In [16]:
booking \
    .groupby('hotel') \
    .total_kids.sum()

hotel
City Hotel      7640.0
Resort Hotel    5712.0
Name: total_kids, dtype: float64

In [41]:
booking.groupby('hotel', as_index=False)['total_kids'] \
    .mean() \
    .sort_values('hotel') \
    .round(2)

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

In [18]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе.
# Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта),
# которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени.
# Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей,
# выраженное в процентах.

# Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенк
# (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

# В качестве ответа укажите наибольший %, округленный до 2 знаков после точки
# (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

booking['has_kids'] = booking['total_kids'] > 0.0

In [46]:
round(booking.query('has_kids == True and is_canceled == 1').shape[0] / booking.query('has_kids == True').shape[0] * 100, 2)

34.92

In [47]:
round(booking.query('has_kids == False and is_canceled == 1').shape[0] / booking.query('has_kids == False').shape[0] * 100, 2)

37.22

In [21]:
booking.shape[0]

119390